{% extends "base.html" %}
{% block title %}Drones{% endblock %}
{% block content %}

{% if error %}
<div class="alert alert-warning" role="alert">
    Failed - Not enough fuel or not enough space at location
</div>  
{% endif %}

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tag</th>
        <th>Fuel</th>
        <th>Capacity</th>
        <th>Sales</th>
        <th>Flown By</th>
        <th>Leader ID</th>
        <th>Leader Tag</th>
        <th>Hover</th>
        <th style="text-align: center;" colspan = '7'>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for drone in drones %}
    <tr>
        <td>{{drone.id_id}}</td>
        <td>{{drone.tag}}</td>
        <td>{{drone.fuel}}</td>
        <td>{{drone.capacity}}</td>
        <td>{{drone.sales}}</td>
        <td>{{drone.flown_by_id}}</td>
        <td>{{drone.swarm_id}}</td>
        <td>{{drone.swarm_tag_id}}</td>
        <td>{{drone.hover_id}}</td>

        <td style="text-align: center;">
            {% if drone.cant_delete %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Only empty drone and non-leader drones may be deleted.">
            {% endif %}
            <button type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deletePopup"
                    data-bs-label-id="{{drone.id_id}}"
                    data-bs-label-tag="{{drone.tag}}"
                    {% if drone.cant_delete %}
                    disabled
                    {% endif %}
            >
                Delete
            </button>
            {% if drone.cant_delete %}
                </span>
            {% endif %}
        </td>

        <td style="text-align: center;">
            {% if drone.cant_join_swarm %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Leader Drones can't join swarm">
            {% endif %}
            <button type="button" 
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-label-id="{{drone.id_id}}"
                data-bs-label-tag="{{drone.tag}}"
                data-bs-target="#joinSwarmPopup"
                {% if drone.cant_join_swarm %}
                disabled
                {% endif %}
            >
            Join Swarm
            </button>
            {% if drone.cant_join_swarm %}
                </span>
            {% endif %}
        </td>

        <td style="text-align: center;">
            {% if drone.cant_leave_swarm %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Only follower drones can leave swarm.">
            {% endif %}
            <button type="button" 
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-label-id="{{drone.id_id}}"
                data-bs-label-tag="{{drone.tag}}"
                data-bs-target="#leaveSwarmPopup"
                {% if drone.cant_leave_swarm %}
                disabled
                {% endif %}
            >
            Leave Swarm
            </button>
            {% if drone.cant_leave_swarm %}
                </span>
            {% endif %}
        </td>

        <td style="text-align: center;">
            {% if drone.cant_refuel %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Only drones at home base can be refueled.">
            {% endif %}
            <button type="button" 
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-label-id="{{drone.id_id}}"
                data-bs-label-tag="{{drone.tag}}"
                data-bs-target="#refuelPopup"
                {% if drone.cant_refuel %}
                disabled
                {% endif %}
            >
            Refuel
            </button>
            {% if drone.cant_refuel %}
                </span>
            {% endif %}
        </td>

        <td style="text-align: center;">
            {% if drone.cant_takeover %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Only lead or lone drones can be taken over.">
            {% endif %}
            <button type="button" 
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-label-id="{{drone.id_id}}"
                data-bs-label-tag="{{drone.tag}}"
                data-bs-target="#takeoverPopup"
                {% if drone.cant_takeover %}
                disabled
                {% endif %}
            >
            Takeover
            </button>
            {% if drone.cant_takeover %}
                </span>
            {% endif %}
        </td>

        <td style="text-align: center;">
            {% if drone.cant_fly %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Only leader and lone drones can be given fly instruction.">
            {% endif %}
            <button type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#flyPopup"
                    data-bs-label-id="{{drone.id_id}}"
                    data-bs-label-tag="{{drone.tag}}"
                    {% if drone.cant_fly %}
                    disabled
                    {% endif %}
            >
                Fly
            </button>
            {% if drone.cant_fly %}
                </span>
            {% endif %}
        </td>
        <td style="text-align: center;">
            {% if drone.cant_refuel %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Only drones at home base can be loaded.">
            {% endif %}
            <button type="button" 
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-label-id="{{drone.id_id}}"
                data-bs-label-tag="{{drone.tag}}"
                data-bs-target="#loadPopup"
                {% if drone.cant_refuel %}
                disabled
                {% endif %}
            >
            Load 
            </button>
            {% if drone.cant_refuel %}
                </span>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    <tr>
        <td colspan="16">
            <button
                    type="button"
                    class="btn btn-success mx-auto"
                    style="display: block; --bs-btn-padding-x: 20rem;"
                    data-bs-toggle="modal"
                    data-bs-target="#addPopup">Add Drone
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal -->
<!-- Delete Modal -->
<div class="modal fade" id="deletePopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Drone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper" hidden>
                        {{ info_form.entity_id }}
                    </div>
                    {% csrf_token %}
                    <div class="fieldWrapper2" hidden>
                        {{ info_form.entity_tag}}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="remove_drone" type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Leave Swarm Popup -->
<div class="modal fade" id="leaveSwarmPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Leave Swarm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper" hidden>
                        {{ info_form.entity_id }}
                    </div>
                    {% csrf_token %}
                    <div class="fieldWrapper2" hidden>
                        {{ info_form.entity_tag}}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="leave_swarm" type="submit" class="btn btn-danger">Leave Swarm</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Refuel Popup -->
<div class="modal fade" id="refuelPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Refuel Drone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldfuelWrapper" hidden>
                        {{ info_form.entity_id }}
                    </div>
                    {% csrf_token %}
                    <div class="fieldfuelWrapper2" hidden>
                        {{ info_form.entity_tag}}
                    </div>
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in fuel_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in fuel_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="refuel_drone" type="submit" class="btn btn-success">Refuel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Join Swarm Popup -->
<div class="modal fade" id="joinSwarmPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Join Swarm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldfuelWrapper" hidden>
                        {{ info_form.entity_id }}
                    </div>
                    {% csrf_token %}
                    <div class="fieldfuelWrapper2" hidden>
                        {{ info_form.entity_tag}}
                    </div>
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in leader_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in leader_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="join_swarm" type="submit" class="btn btn-success">Join Swarm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Takeover Drone Popup -->
<div class="modal fade" id="takeoverPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Takeover Drone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldfuelWrapper" hidden>
                        {{ info_form.entity_id }}
                    </div>
                    {% csrf_token %}
                    <div class="fieldfuelWrapper2" hidden>
                        {{ info_form.entity_tag}}
                    </div>
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in takeover_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in takeover_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="takeover_drone" type="submit" class="btn btn-success">Takeover Drone</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Popup -->
<div class="modal fade" id="addPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Drone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" action="" method="post">
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in add_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in add_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select  class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                            {% for choice in field.field.widget.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        {% endif %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="add_drone" type="submit" class="btn btn-success">Add Drone</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Fly Popup -->
<div class="modal fade" id="flyPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Fly Drone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldfuelWrapper" hidden>
                        {{ info_form.entity_id }}
                    </div>
                    {% csrf_token %}
                    <div class="fieldfuelWrapper2" hidden>
                        {{ info_form.entity_tag}}
                    </div>
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in fly_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in fly_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select  class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                            {% for choice in field.field.widget.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        {% endif %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="fly_drone" type="submit" class="btn btn-success">Fly Drone</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Load Drone -->
<div class="modal fade" id="loadPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Load Drone</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldfuelWrapper" hidden>
                        {{ info_form.entity_id }}
                    </div>
                    {% csrf_token %}
                    <div class="fieldfuelWrapper2" hidden>
                        {{ info_form.entity_tag}}
                    </div>
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in load_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in load_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select  class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                            {% for choice in field.field.widget.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        {% endif %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="load_drone" type="submit" class="btn btn-success">Load Drone</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
{% if add_form.errors|length != 0 %}
const addPop = new bootstrap.Modal('#addPopup')
addPop.show()
{% endif %}

{% if fuel_form.errors|length != 0 %}
const fuelPopup = new bootstrap.Modal('#refuelPopup')
fuelPopup.show()
{% endif %}

{% if leader_form.errors|length != 0 %}
const fuelPopup = new bootstrap.Modal('#joinSwarmPopup')
fuelPopup.show()
{% endif %}

{% if takeover_form.errors|length != 0 %}
const fuelPopup = new bootstrap.Modal('#takeoverPopup')
fuelPopup.show()
{% endif %}

{% if fly_form.errors|length != 0 %}
const addPopup = new bootstrap.Modal('#flyPopup')
addPopup.show()
{% endif %}

{% if load_form.errors|length != 0 %}
const addPopup = new bootstrap.Modal('#loadPopup')
addPopup.show()
{% endif %}

const deletePop = document.getElementById('deletePopup')
deletePop.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label-id')
const label_tag = button.getAttribute('data-bs-label-tag')
// Update the modal's content.
const modalBodyInput = deletePop.querySelector('.modal-body p')
const modalEntityID = deletePop.querySelector('.fieldWrapper input')

modalBodyInput.innerHTML = `Are you sure you want to delete ${label}-${label_tag}?`
modalEntityID.value = label

const modalEntityTag = deletePop.querySelector('.fieldWrapper2 input')
modalEntityTag.value = label_tag
})

const refuelPop = document.getElementById('refuelPopup')
refuelPop.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label-id')
const label_tag = button.getAttribute('data-bs-label-tag')
// Update the modal's content.
const modalBodyInput = refuelPop.querySelector('.modal-body p')
const modalEntityID = refuelPop.querySelector('.fieldfuelWrapper input')

modalEntityID.value = label

const modalEntityTag = refuelPop.querySelector('.fieldfuelWrapper2 input')
modalEntityTag.value = label_tag
})

const joinSwarmPop = document.getElementById('joinSwarmPopup')
joinSwarmPop.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label-id')
const label_tag = button.getAttribute('data-bs-label-tag')
// Update the modal's content.
const modalBodyInput = joinSwarmPop.querySelector('.modal-body p')
const modalEntityID = joinSwarmPop.querySelector('.fieldfuelWrapper input')

modalEntityID.value = label

const modalEntityTag = joinSwarmPop.querySelector('.fieldfuelWrapper2 input')
modalEntityTag.value = label_tag
})

const takeoverPop = document.getElementById('takeoverPopup')
takeoverPop.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label-id')
const label_tag = button.getAttribute('data-bs-label-tag')
// Update the modal's content.
const modalBodyInput = takeoverPop.querySelector('.modal-body p')
const modalEntityID = takeoverPop.querySelector('.fieldfuelWrapper input')

modalEntityID.value = label

const modalEntityTag = takeoverPop.querySelector('.fieldfuelWrapper2 input')
modalEntityTag.value = label_tag
})

const leavePopup = document.getElementById('leaveSwarmPopup')
leavePopup.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label-id')
const label_tag = button.getAttribute('data-bs-label-tag')
// Update the modal's content.
const modalBodyInput = leavePopup.querySelector('.modal-body p')
const modalEntityID = leavePopup.querySelector('.fieldWrapper input')

modalBodyInput.innerHTML = `Are you sure you want ${label}-${label_tag} to leave swarm?`
modalEntityID.value = label

const modalEntityTag = leavePopup.querySelector('.fieldWrapper2 input')
modalEntityTag.value = label_tag
})


const flyPop = document.getElementById('flyPopup')
flyPop.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label-id')
const label_tag = button.getAttribute('data-bs-label-tag')
// Update the modal's content.
const modalBodyInput = flyPop.querySelector('.modal-body p')
const modalEntityID = flyPop.querySelector('.fieldfuelWrapper input')

modalEntityID.value = label

const modalEntityTag = flyPop.querySelector('.fieldfuelWrapper2 input')
modalEntityTag.value = label_tag
})

const loadPop = document.getElementById('loadPopup')
loadPop.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label-id')
const label_tag = button.getAttribute('data-bs-label-tag')
// Update the modal's content.
const modalBodyInput = loadPop.querySelector('.modal-body p')
const modalEntityID = loadPop.querySelector('.fieldfuelWrapper input')

modalEntityID.value = label

const modalEntityTag = loadPop.querySelector('.fieldfuelWrapper2 input')
modalEntityTag.value = label_tag
})

{% endblock %}