{% extends "base.html" %}
{% block title %}Locations{% endblock %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Label</th>
        <th>X Coordinate</th>
        <th>Y Coordinate</th>
        <th>Number of Restaurants</th>
        <th>Number of Services</th>
        <th>Number of Drones</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for location in locations %}
    <tr>
        <td>{{location.label}}</td>
        <td>{{location.x_coord}}</td>
        <td>{{location.y_coord}}</td>
        <td>{{location.no_of_restaurants}}</td>
        <td>{{location.no_of_services}}</td>
        <td>{{location.no_of_drones}}</td>
        <td>
            {% if location.cant_delete %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="Only empty locations may be deleted.">
            {% endif %}
            <button type="button"
                    class="btn btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#deletePopup"
                    data-bs-label="{{ location.label }}"
                    {% if location.cant_delete %}
                    disabled
                    {% endif %}
            >
                Delete
            </button>
            {% if location.cant_delete %}
                </span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="7">
            <button
                    type="button"
                    class="btn btn-success mx-auto"
                    style="display: block; --bs-btn-padding-x: 20rem;"
                    data-bs-toggle="modal"
                    data-bs-target="#addPopup">Add Location
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deletePopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Delete Location</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper" hidden>
                        {{ remove_form.entity_id }}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="remove" type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Location</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" action="" method="post">
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in add_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in add_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select  class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                            {% for choice in field.field.widget.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        {% endif %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="add" type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% if add_form.errors|length != 0 %}
const addPopup = new bootstrap.Modal('#addPopup')
addPopup.show()
{% endif %}
const deletePopup = document.getElementById('deletePopup')
deletePopup.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const label = button.getAttribute('data-bs-label')
// Update the modal's content.
const modalBodyInput = deletePopup.querySelector('.modal-body p')
const modalEntityID = deletePopup.querySelector('.fieldWrapper input')

modalBodyInput.innerHTML = `Are you sure you want to delete ${label}?`
modalEntityID.value = label
})
{% endblock %}