{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>username</th>
        <th>taxID</th>
        <th>hired</th>
        <th>Experience as Employee</th>
        <th>licenseID</th>
        <th>Experience as Pilot</th>
        <th>Manager Status</th>
        <th style="text-align: center;" colspan = '2'>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <td>{{employee.username}}</td>
        <td>{{employee.taxID}}</td>
        <td>{{employee.hired}}</td>
        <td>{{employee.employee_experience}}</td>
        <td>{{employee.licenseID}}</td>
        <td>{{employee.piloting_experience}}</td>
        <td>{{employee.manager_status}}</td>
        <td style="text-align: center;">
            {% if employee.is_worker %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="This employee is already a worker!">
            {% endif %}
            <button type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#addWorkerPopup"
                    data-bs-label="{{ employee.username }}"
                    {% if employee.is_worker %}
                    disabled
                    {% endif %}
            >
                Add as worker
            </button>
            {% if employee.is_worker %}
                </span>
            {% endif %}
        </td>
        <td style="text-align: center;">
            {% if employee.cant_add_pilot %}
            <span class="d-inline-block"
                  tabindex="0"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  data-bs-title="This employee is already a pilot!">
            {% endif %}
            <button type="button"
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#addPilotPopup"
                    data-bs-label="{{ employee.username }}"
                    {% if employee.cant_add_pilot %}
                    disabled
                    {% endif %}
                    >Add as pilot</button>
            {% if employee.cant_add_pilot %}
                </span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="11">
            <button
                    type="button"
                    class="btn btn-success mx-auto"
                    style="display: block; --bs-btn-padding-x: 20rem;"
                    data-bs-toggle="modal"
                    data-bs-target="#addPopup">Add Employee
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal -->

<div class="modal fade" id="addPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in add_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in add_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error  }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="add_employee" type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addWorkerPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add as worker</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3 needs-validation" action="" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper hidden2" hidden>
                        {{ username_form.username }}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="add_worker" type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addPilotPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add as pilot</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p></p>
                <form class="row g-3" action="" method="post">
                    {% csrf_token %}
                    <div class = "fieldWrapper hidden3" hidden>
                        {{ username_form.username }}
                    </div>
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in add_pilot_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in add_pilot_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="add_pilot" type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
{% if add_form.errors|length != 0 %}
const addPopup = new bootstrap.Modal('#addPopup')
addPopup.show()
{% endif %}

{% if add_pilot_form.errors|length != 0 %}
const addPopup = new bootstrap.Modal('#addPilotPopup')
addPopup.show()
{% endif %}

const addPilotPopup = document.getElementById('addPilotPopup')
addPilotPopup.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const username = button.getAttribute('data-bs-label')
// Update the modal's content.
const modalBodyInput = addPilotPopup.querySelector('.modal-body p')
const modalEntityID = addPilotPopup.querySelector('.hidden3 input')

modalBodyInput.innerHTML = `Adding <strong>${username}</strong> as a pilot`
modalEntityID.value = username
})

const addWorkerPopup = document.getElementById('addWorkerPopup')
addWorkerPopup.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const username = button.getAttribute('data-bs-label')
// Update the modal's content.
const modalBodyInput = addWorkerPopup.querySelector('.modal-body p')
const modalEntityID = addWorkerPopup.querySelector('.hidden2 input')

modalBodyInput.innerHTML = `Are you sure you want to add <strong>${username}</strong> as a worker?`
modalEntityID.value = username
})

{% endblock %}
