{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">4400 Phase4 - Group 73</h1>
    <h2>Useful Links</h2>
    <ul>
        <li><a href="https://www.mysql.com/">MySql (Database)</a></li>
        <li><a href="https://www.djangoproject.com/">Django (Backend)</a></li>
        <li><a href="https://getbootstrap.com/">Bootstrap (Frontend)</a></li>
    </ul>
    <h2>Team</h2>
    <ul>
        <li>Tyler Andrew Keeney</li>
        <li>Manit Kapoor</li>
        <li>Felix Maximilian Schlensok</li>
    </ul>
    <h2>How to Set Up &amp; Run (Windows)</h2>
    <ol>
        <li>Clone Repo</li>
        <li>Run \4400_Phase4\phase4\sql\init_database.sql script in MySql</li>
        <li>(Optional) Create Python Virtual Environment</li>
        <li>Install requirements from requirements.txt file</li>
        <li>Update the password in \4400_Phase4\phase4\phase4\secure.py to match MySql database password <strong>NEVER PUSH THIS CHANGE TO THE GIT</strong></li>
        <li>Navigate to \4400_Phase4\phase4</li>
        <li>Run <code>python manage.py runserver</code> in aforementioned directory</li>
        <li>Go to <a href="http://127.0.0.1:8000/restaurant_supply_express/home/">http://127.0.0.1:8000/restaurant_supply_express/home/</a></li>
    </ol>
    <h2>Technologies Used</h2>
    <p>To keep things as simple as possible we decided to use our already existent MySql database backend.
    We connected that to a Django backend that made database operations simple. To keep the UI looking
    consistent and to make the UI easy to build we decided to use Bootstrap for the frontend design.</p>
    <h2>Division of Labor</h2>
    {% load static %}
    <img src="{% static 'division.png' %}" class="img-fluid" alt="Division of Labor">
</div>

{% endblock %}