{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}
{% block content %}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Long Name</th>
        <th>Rating</th>
        <th>Spent</th>
        <th>Location</th>
        <th>Funded By</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for restaurant in restaurants %}
    <tr>
        <td>{{restaurant.long_name}}</td>
        <td>{{restaurant.rating}}</td>
        <td>{{restaurant.spent}}</td>
        <td>{{restaurant.location}}</td>
        <td>{{restaurant.funded_by}}</td>
        <td>
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#purchasePopup"
                    data-bs-label="{{ restaurant.long_name }}"
            >
                Purchase Ingredient
            </button>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="6">
            <button
                    type="button"
                    class="btn btn-success mx-auto"
                    style="display: block; --bs-btn-padding-x: 20rem;"
                    data-bs-toggle="modal"
                    data-bs-target="#addPopup">Add Restaurant
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="addPopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add Restaurant</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" action="" method="post">
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in add_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in add_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select  class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                            {% for choice in field.field.widget.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        {% endif %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="add" type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="purchasePopup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Purchase Ingredient</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" action="" method="post">
                    {% csrf_token %}
                    <div class="text-danger">
                        {% for error in purchase_form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% for field in purchase_form %}
                    <div class="fieldWrapper">
                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'select' %}
                        <select  class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                            {% for choice in field.field.widget.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <input class="form-control" name="{{ field.name }}" type="{{ field.field.widget.input_type }}"
                               id="{{ field.auto_id }}" required>
                        {% endif %}
                        <div class="text-danger">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button name="purchase" type="submit" class="btn btn-success">Purchase Ingredient</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

var errorModal = undefined
{% if add_form.errors|length != 0 %}
errorModal = new bootstrap.Modal('#addPopup')
errorModal.show()
{% endif %}
{% if purchase_form.errors|length != 0 %}
errorModal = new bootstrap.Modal('#purchasePopup')
const errorBodyInput = purchasePopup.querySelector('.modal-title')
const errorEntityID = purchasePopup.querySelector('input[id="id_long_name"]')
const errorEntityIDLabel = errorEntityID.parentNode
const errorlabel = '{{ purchase_form.long_name.value }}'
errorEntityID.value = errorlabel
errorEntityID.hidden = true
errorEntityIDLabel.hidden = true
errorBodyInput.innerHTML = `Purchase ingredient for ${errorlabel}`
errorModal.show()
{% endif %}

purchasePopup.addEventListener('show.bs.modal', event => {
// Button that triggered the modal
const button = event.relatedTarget
const modalBodyInput = purchasePopup.querySelector('.modal-title')
const modalEntityID = purchasePopup.querySelector('input[id="id_long_name"]')
const modalEntityIDLabel = modalEntityID.parentNode

var label = ''
if (button === undefined) {
    label = modalEntityID.value
} else {
    label = button.getAttribute('data-bs-label')
}
// Update the modal's content.
modalBodyInput.innerHTML = `Purchase ingredient for ${label}`
modalEntityID.value = label
modalEntityID.hidden = true
modalEntityIDLabel.hidden = true
});

{% endblock %}